{% extends "spa/base.html" %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'Spa/estilos.css' %}">
</head>
{% block content %}
<div>
    
</div>

    <div class="jumbotron text-center spa-banner">
        <div>
            <h1 class="display-4 texto-pastel" style="font-family: 'Open Sans', sans-serif;">HACIENDO TU VIDA MÁS CONFORTABLE</h1>
        </div>
        
        <img src="{% static 'img/spa_img.jpg' %}" style="width: 100%; height: 100%; object-fit: cover" alt="Imagen Spa" class="img-fluid">
        <p class="lead">Bienvenido a nuestro oasis de relajación y belleza.</p>
        <hr class="my-4">
        <p>Descubre nuestros servicios y comienza tu viaje hacia el bienestar.</p>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-success btn-lg" href="#" role="button">Reservar ahora</a>
            <a class="btn btn-outline-info btn-lg" href="#" role="button">Ver servicios</a>
          </div>
    </div>
    <div class="container">
        <h2 class="text-center mb-4">Bienvenido a Sentirse Bien Spa</h2>
        <p class="text-center mb-5">Ofrecemos una variedad de tratamientos de spa para rejuvenecer tu cuerpo y mente. Nuestro equipo de expertos está dedicado a proporcionar una experiencia relajante y revitalizante.</p>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3 mb-4">
                    <div class="card service-card" onclick="location.href='#';">
                        <img src="{% static 'img/fISIOTERAPIA.jpg' %}" class="card-img-top img-fluid img-tarjeta" alt="Fisioterapia">
                        <div class="card-body">
                            <h5 class="card-title texto-pequeño">Fisioterapia</h5>
                            <a href="#" class="btn btn-outline-success">Leer más</a> <!-- Botón Leer más -->
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card service-card" onclick="location.href='#';">
                        <img src="{% static 'img/masajes.jpg' %}" class="card-img-top img-fluid img-tarjeta" alt="Masajes">
                        <div class="card-body">
                            <h5 class="card-title texto-pequeño">Masajes</h5>
                            <a href="#" class="btn btn-outline-success">Leer más</a> <!-- Botón Leer más -->
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3 mb-4">
                    <div class="card service-card" onclick="location.href='#';">
                        <img src="{% static 'img/tratamientoFacial_img.jpg' %}" class="card-img-top img-fluid img-tarjeta " alt="Pack Completo">
                        <div class="card-body">
                            <h5 class="card-title texto-pequeño">Tratamiento Facial</h5>
                            <a href="#" class="btn btn-outline-success">Leer más</a> <!-- Botón Leer más -->
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card service-card" onclick="location.href='#';">
                        <img src="{% static 'img/pacl_completo.jpg' %}" class="card-img-top img-fluid img-tarjeta img-tarjeta-margen" alt="Pack Completo">
                        <div class="card-body">
                            <h5 class="card-title texto-pequeño">Pack Completo</h5>
                            <a href="#" class="btn btn-outline-success">Leer más</a> <!-- Botón Leer más -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        {% if is_paginated %}
        <nav aria-label="Page navigation" class="mt-4">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">Primera</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
{% endblock content %}